body{
	/*Gradiente lineal, sentido ascendente */
	background:-moz-linear-gradient(#FFF,#46629E);
	background:-webkit-linear-gradient(#FFF,#46629E);
	background:-o-linear-gradient(#FFF,#46629E);
	background:linear-gradient(#FFF,#46629E);
}

img {
	width: 80px;
}

#sandbox{
  font-family:"goudy-bookletter-1911-1","goudy-bookletter-1911-2","Baskerville","Georgia",serif;
	text-align: center;
  overflow:hidden;
  z-index:2;
  color:black;
  font-size:16px;
	margin-bottom: 20px;
  /*Bordes redondeados*/
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  -o-border-radius:15px;
  border-radius: 15px;
  /*Sombra de bordes*/
  -moz-box-shadow:0 0 10px 0 #FFF;
  -webkit-box-shadow:0 0 10px 0 #FFF;
  -o-box-shadow:0 0 10px 0 #FFF;
  box-shadow:0 0 10px 0 #FFF;
  background-color:#46629E;
}

#sandbox h1{
  margin:0 20px 20px 0;
  font-size:56px;
  word-spacing:3px;
  /*Transparencia de las letras 0.6*/
  color:rgba(255,255,255,0.6);
}
#sandbox a{
	  word-spacing:3px;
	  color:rgba(255,255,255,0.8);
	}
#sandbox p{
  font-size:30px;
  height:50px;
  width:auto;
  color:rgba(0,0,0,0.6);
  -moz-transition: text-align 5s;
  -webkit-transition: text-align 5s;
  -o-transition: text-align 5s;
  transition: text-align 5s;
}
#sandbox:hover p{
  text-align:center;
}

#tabs a{
	width: 100%;
	/*height: 500px;
	/*Transparencia de las letras 0.6*/
	 color:#46629E;
	margin:0 20px 20px 0;
	font-size:56px;
	text-align:center;

}
#tabs li{
	display: -webkit-inline-box;
	margin-left: 20%;
	background-color: white;
	/*Bordes redondeados*/
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius: 15px;
	border-style:dashed;
	border-color: #46629E;
	display: -moz-box;

}

#up{
	width: 25%;
  height: -moz-max-content;
	float: left;
	margin-left:  20%;
    background-color:#46629E;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius: 15px;
}

#ml{
	width: 25%;
height: -moz-max-content;
	float: right;
	margin-right: 20%;
	background-color:#46629E;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	border-radius: 15px;
}
#update{
	width: 35%;
  height: -moz-max-content;
	margin:  10px 10px 10px 10px;
	font-size:30px;
	background-color:rgba(255,255,255,0.8);
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-o-border-radius:20px;
	border-radius: 20px;
}
button#update {
	font-size:30px;
	font-family:"goudy-bookletter-1911-1","goudy-bookletter-1911-2","Baskerville","Georgia",serif;
	color: #46629E;
	border-width: thin;
	cursor: -webkit-grab;
}
/*Para cuando se desplega*/
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	overflow: hidden;
	background-color: white;
	margin-left: 25% !important;
	/*height: -moz-max-content;*/
	width: 40%!important;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius: 10px;
	display: -moz-deck;
	font-size: 10px;
}
/*Para los bloques de comentarios*/
.ui-accordion .ui-accordion-icons {
	 margin-left: 20%!important;
	 width: 50%;
}
.ui-state-active{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius: 5px;
	background-color: #bdc7dc!important;
	border: 2px solid #fff !important;
	color: #454545!important;
	text-align: -moz-left;
	margin-left: 20%!important;
	width: 50%;

}
